@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url(images/pexel-g.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

h1{
    color: white;
    text-align: center;
    font-size: 3em;
    margin-top: 5%;
    margin-left: 50%;
    max-width: 30%;
    font-family: 'Share Tech',Arial, Helvetica, sans-serif;
    transform: translate(-50%)
}
#cad {
    margin-top: 3%;
    max-width: 50%;
}
.login{
    background-color: white;
    width: 400px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.397);
}

.login #head h2{
    text-align: center;
    color: rgb(4, 4, 46);
    font-family: 'Bebas Neue',Arial, Helvetica, sans-serif;
    font-family: 20px;
    margin-bottom: 20px;
}
.login .user{
    position: relative;
}
.login .user input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    color: black;
    background: transparent;
}
.login .user label{
    padding: 10px 0;
    top: 0;
    left: 0;
    position: absolute;
    transition: .5s;
    font-size: larger;

    pointer-events: none;
    font-family: 'Teko',Arial, Helvetica, sans-serif;
}
.login form button{
    text-align:center;
    text-decoration: none;
    font-family: 'Bebas Neue',Arial, Helvetica, sans-serif;
    margin: auto;
    background-color: rgb(3, 3, 27);
    color: white;
    border-radius: 10px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 40%;

    
}
.login form button:hover{
    background-color: rgb(3, 68, 68);
    color: white;
    transition: .2s;
    transform: translate(-3px, -5px);
    border: 2px solid  rgb(3, 68, 68);
}

.login .user input:focus ~ label, 
.login .user input:valid ~ label{
    top: -20px;
    left: 0;
    color: rgb(0, 58, 167);
    font-size: 15px;
}
#linha:before, #linha:after{
    margin: auto;
    flex: 1px 1px;
    border-bottom: 1px solid black;
    content: "";
    text-align: center;
    margin: 40px;
}
fieldset{
    border-top: 1px solid rgba(70, 66, 66, 0.404);
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-align: center;
    display: block;
}
fieldset.separator{
    padding: 5px 10px;
    margin: 25px;
}
#google{
    border: 2px solid rgba(80, 78, 78, 0.384);
    border-radius: 20px;
    text-align: center;
    margin: auto;
    padding: 10px;
    width: 160px;

}
#google img{
    max-width: 14px;
    margin-right: 3px;
}
a{
    text-decoration: none;
    color: black;

}
.cadastro{
    
    text-align: center;
    margin-top: 20px;
}
.cadastro a{
    color: rgb(25, 109, 158);
    
}
