html{
    height: 100%;
}
body{
    background-color: rgb(7, 7, 53);
    margin: 0;
    padding: 0;
}
.login{
    background-color: white;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.397);
}
.login h2{
    text-align: center;
    color: rgb(4, 4, 46);
    margin: 0 0 30px;
    padding: 0;
}
.login .user{
    position: relative;
}
.login .user input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    color: black;
    background: transparent;
}
.login .user label{
    padding: 10px 0;
    top: 0;
    left: 0;
    position: absolute;
    transition: .5s;
    font-size: 16px;
    pointer-events: none;
}
.login .user input:focus ~ label, 
.login .user input:valid ~ label{
    top: -20px;
    left: 0;
    color: rgb(14, 14, 128);
    font-size: 12px;
}
.login .user form a{
    text-align:center;
    text-decoration: none;
    
}